.drinks-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  margin-bottom: 4rem;
}

.drink {
  padding: 2rem;
}

.drink__product {
  display: flex;
}

.drink__cup {
  width: 9rem;
  height: 9rem;
}

.drink__cup img {
  width: 9rem;
  height: 9rem;
}

.drink__cup--selected {
  background-image: url("../img/cup-selected.png");
  background-size: contain;
}

.drink__cup--selected img {
  display: none;
}

.drink__info {
  margin-left: 1rem;
}

.drink__controls {
  margin-top: 1rem;

  text-align: center;
}

.order-btn {
  padding: 0.5rem 1rem;

  color: white;
  background-color: #ea946f;
  border: none;
  box-shadow: 0 0 5px #444;
  border-radius: 1rem;

  transition: 300ms;
  cursor: pointer;
}

.order-btn:hover {
  transform: scale(1.1);
}

.order-btn:focus {
  outline: none;
}

.order-btn:active {
  background-color: #e67e51;
}
